<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Connectie.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WijzigServlet</servlet-name>
        <servlet-class>Connectie.WijzigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patienten</servlet-name>
        <servlet-class>Connectie.Patienten</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientInfoServlet</servlet-name>
        <servlet-class>Connectie.PatientInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Connectie.registerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WijzigServlet</servlet-name>
        <url-pattern>/WijzigServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patienten</servlet-name>
        <url-pattern>/Patienten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientInfoServlet</servlet-name>
        <url-pattern>/PatientInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
