/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-mei-2018, 15:59:59
    Author     : foppe
*/

#main{
    color: black;
    background-color:white;
    height: 90%;
    text-align: left;
    font-family: "Arial", sans-serif;
}
.reden{
    color: red;
    font-size: 12px;
}
.hoofd{
    margin: 10px;
    text-align: left;
    position: relative;
    height: 80px;
}
#wijzigGegevens{
    font-size: 13.33333px;
}

#knop1{
    position: absolute;
    top: 20%;
    left: 25%;
    border: 0px solid black;
    width: 20%;
    height: 100px;
}
#knop2{
    position: absolute;
    top: 20%;
    right: 25%;
    border: 0px solid black;
    width: 20%;
    height: 100px;
}
#knop3{
    margin: auto;
    border: 0px solid black;
    width: 10%;
    height: 75px;
}
#knop4{
    border: 0px solid black;
    height: 30px;
}
#knop5{
    position: absolute;
    left: 20%;
    border: 0px solid black;
    height: 30px;
    left: 40%;
    right: 60%;
    transform: translate(-50%, -50%);
    bottom: 130px;
}
#knop6{
    position: absolute;
    top: 40%;
    left: 30%;
    border: 0px solid black;
    height: 30px;
}
#knop7{
    position: absolute;
    border: 0px solid black;
    height: 30px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: 130px;
}

#knop8{
    position: absolute;
    left: 18%;
    border: 0px solid black;
    height: 60px;
    left: 427px;
    top: 150px;
}
#lijn{
    margin: auto;
    width: 740px;
    border-top: 1px dashed grey;
}
.inlogKnop{
    background: #D8D8D8;
    border: 1px solid #979797;
    border-radius: 8px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 100px;
    height: 60%;
}
.inlogKnop:hover{
    background: #acacac;
}

.nr{
    width: 75px;
    border-style: solid;
    border-width: 2px;
    border-color: #cee1f2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    height: 25px;
}
.nr2{
    width: 100px;
}
.tv2{
    width: 90px;
}
.tv{
    width: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #cee1f2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    height: 25px;
}
#avl{
    position: absolute;
    top: 50%;
    left: 35%;
    height: 200px;
    width: 380px; 
}
#avl2{
    margin-left: 35%;
    height: 200px;
    width: 380px; 
}
#avl3{
    position: absolute;
    height: 80px;
    width: 152px; 
    top: -15px;
    left: 15px;
}
.button{
    background-color: #af1c23;
    border: none;
    color: white;
    padding: 15px 25px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

#vraag2{
    left: 400px;
}

#vraag2a{
    left: 400px;
}
#vraag3{
    left: 780px;
}

#vraag3a{
    left: 780px;
}

.input{
    border-style: solid;
    border-width: 2px;
    border-color: #cee1f2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    height: 25px;
}
.textArea{
    border-style: solid;
    border-width: 2px;
    border-color: #cee1f2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    height: 100px;
}

.button:hover{
    background-color: red;
}
#toelichting{
    position: absolute;
    border: 0px solid black;
    bottom: 20px;
    left: 20px;
    height: 150px;
    width: 1287px;
}
.tijd{
    position: absolute;
    border: 0px solid black;
    bottom: 170px;
    height: 30px;
    width: 130px;
    left: 70px;
}
#tijd1{
    left: 320px;
}
#tijd2{
    left: 590px;
}
#tijd3{
    left: 870px;
}
#tijd4{
    left: 1140px;
}
.buttonInlog{
    background-color: #af1c23;
    border: none;
    color: white;
    /*    width: 100%;*/
    height: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.buttonInlog:hover{
    background-color: red;
}

p{
    margin: 5px;
}
body{
    margin-left: 0px;
    margin-right: 0px;
}
#gegevens{
    width: 98%;
    position:relative;
    background-color:white;
    height: 460px;
    top: 20px;
    border-radius: 7px;
    border: 0px solid black;
    left: 1%;
}
#gegevens2{
    width: 100%;
    position: absolute;
    background-color:#F5F5F5;
    height: 550px;
    top: 100px;
    border-top: 1px solid lightgray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#menu{
    height: 100%;
    width: 200px;
    background-color: aliceblue;
    position: absolute;
}
.menuKnopLeeg{
    position: relative;
    margin: auto;
    width: 100%;
    height: 24.8%;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
    text-align: center
}
.menuKnop{
    position: relative;
    margin: auto;
    width: 100%;
    height: 24.8%;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
    text-align: center
}
.menuKnopGekozen{
    position: relative;
    margin: auto;
    width: 97.5%;
    height: 24.8%;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
    border-left: 5px solid red;
    text-align: center
}
.menuKnop:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 102%;
    border-left: 5px solid red;
    transition-duration: 0.2s;
}
#derde{
    top: 0px;
}
#tweede{
    top: 0px;
}
#vierde{
    top: 0px;
    border-bottom: 1px solid lightgray;
}
#driehoek{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ff0000;
}

.kweeste{
    width: 350px;
    height: 50px;
    position: absolute;
    top: 180px;
    left: 20px;
    background-color:#acacac;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    cursor: pointer;   
}
.kweeste:hover{
    background-color:#979797;
}

#vraagje{
    font-size: 15px;
}

#vragen{
    font-size: 20px;
    color: red;
}

.bar{
    width: 350px;
    position: absolute;
    background-color: lightgrey;
    top: 230px;
    left: 20px;
}

.boven{
    padding-top: 32px;
    font-family: sans-serif;
    color: darkslategrey;
}
.gekozen{
    padding-top: 32px;
    font-family: sans-serif;
    font-weight: bold;
    color: darkslategrey;
}
a{
    text-decoration: none;
}
#ondertitel{
    font-size: 20px;
}

table{
    left: 20px;
    font-size: 17px;
    font-family:verdana;
}
#tableGegevens{
    width: 100%;
}
.inlog{
    position: absolute;
    left: 30%;
    top: 20%;
    font-size: 20px;
}
.p1{
    color: red;
}
h2{
    text-align: left;
}
h3{
    text-decoration: underline;
}
#titel{
    font-size: 20px;
    font-weight: bold;
}
#content{
    position: relative;
    width: 80%;
    height: 550px;
    left: 200px;
    padding-left: 20px; 
}
td{
    position: relative;	
}
.Name{
    width: 250px;
    height: 35px;
    font-size: 20px;
}
.tabelletje{
    align-content: center;
}
.uitloggen{
    background-color: #af1c23;
    border: none;
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}
.uitloggen:hover{
    background-color: red;
}
#uitlog{
    position: absolute;
    top: 10%;
    right: 0%;
    border: 0px solid black;
    width: 150px;
    height: 30px;
}
#verkeerd{
    font-size: 12px;
    color: red;
}
.data{
    position: absolute;
    font-size: 14px;
}
#rechts{
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
    right: 20px;
    width: 400px;
    height: 300px;
}
.stadium{
    position: absolute;
    top: 50px;
    left: 20px;
    height: 300px;
    width: 1287px;
}
#plaatje{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-image: url(pictures/Dokter.jpg);
    background-size: cover;
}

#plaatjeWijzig{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    background-image: url(pictures/Dokter.jpg);
    background-size: cover;
}

#Artsinfo{
    position: absolute;
    top: 210px;
    border: 0px solid black;
}

#ArtsinfoWijzig{
    position: absolute;
    left: 300px;
    top: 30px;
    border: 0px solid black;
}

#biografie{
    position: absolute;
    width: 300px;
    height: 170px;
    top: 310px;
}

#biografieWijzig{
    position: absolute;
    height: 170px;
    top: 310px;
}

#bio{
    width: 100%;
    height: 100%;
}
#veld{
    width: 200px;
}
textarea { 
    font-size: 18px; 
    font-family: "Arial", sans-serif;
}
#rij{
    height: 20px;
}
.pictogram{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 100px;
    height: 100px;
}
#artsPicto{
    background-image: url(pictures/dokter.png);
    background-size: cover;
}
#patientPicto{
    background-image: url(pictures/persoon.png);
    background-size: cover;
}